body {
  background-color: beige;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  nav {
    border: 1px solid gray;
    margin-left: 1rem;
  }
  a {
    color: black;
    text-decoration: none;

    padding: 0.5rem;
    font-size: 1.5rem;
  }

  img {
    width: 4rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  button {
    width: fit-content;
  }
  a {
    color: black;
    text-decoration: none;
  }

  table {
    border: 1px solid gray;
    width: 80%;
    text-align: left;
    #row1 {
      background-color: rgb(40, 188, 40);
    }
  }
}
