doctype html
html
    head
        title=Super
        link(rel="stylesheet" href="/public/sass/css/index.css")
    body
        header 
            img(src="/public/logo.png", alt="")
            nav 
                a(href="/admin/users") Utilisateurs
                a(href="/admin/pizzas") Pizzas
                a(href="/admin/menus") Menus
                a(href="/admin/desserts") Desserts
                a(href="/admin/boissons") Boissons
                a(href="/admin/clients") Clients
                a(href="/admin/commandes") Commandes
                a(href="/admin/livreurs") Livreurs
                a(href="/admin/ingredients") Ingrédients
                a(href="/admin/stats") Statistiques
                a(href="/admin/promotions") Promotions
        main  
            div(id = zonePrincipale)
                p Zone principale
            div(id = zoneActivite)
                p Zone activité

